# Bespoke
.quickbms

# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
.vs
.vscode
.workspace
.gradle
*.zip
*.tar.gz

# Python files
__pycache__

# Android Build files
*.apk
*.obb

# Visual Studio files
*.cachefile
*.pidb
*.suo
*.unityproj
*.user
*.userprefs
*.v11
*.v12
*.VC.db
[C|c]onfig.ini
#*.db
#*.opendb

# Folder to exclude
ARM64/
x64/
x86/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
Builds/
Logs/
Temp/
ipch/
obj/

# Folder to exclude #2
_vcpkg
_build32
_build64
_build
_bundle