# Folder to exclude
Library/
Data Files/
Screenshots/
Exports/


# Unity3D
UnityGenerated/
DerivedData/
Assets/AssetStoreTools*
sysinfo.txt
*.unitypackage
UIElementsSchema/
**/Assets/_Ter*

# Unity3D Plugins
**/Assets/Plugins/**/*
